@import url("reset.css");

body {
	text-align: justify; font-family: Go Medium, serif;
	margin: 0; padding: 0;
	line-height: 1.5;
}

/* layout */

.poster {
	display: grid;
	align-content: stretch;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto;
}

.header {
	grid-column: 2/6;
	grid-row: 1;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.organization {
	grid-column: 1;
}

.title {
	grid-column: 2;
}

.author {
	grid-column: 3;
}


.probprog {
	grid-column: 1/3;
	grid-row: 2/6;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto;
}

.models {
	grid-column: 1;
	grid-row: 2/5;
}

.ppls {
	grid-column: 2;
	grid-row: 2/5;
}

.challenges {
	align-self: center;
	grid-column: 3;
	grid-row: 2;
}

.guidelines {
	align-self: center;
	grid-column: 4;
	grid-row: 2;
}

.infergo {
	grid-column: 3/5;
	grid-row: 3/6;
}

.highlights {
	padding-top: 2em;
	display: grid;
	grid-row-gap: 2em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto;
}

.golang {
	grid-column: 1;
	grid-row: 1/3;
}

.autodiff {
	grid-column: 1;
	grid-row: 3/7;
}

.composition {
	grid-column: 2;
	grid-row: 1/4;
}

.streaming {
	grid-column: 2;
	grid-row: 4/7;
}

.studies {
	grid-column: 5;
	grid-row: 2/7;
}

.footer {
	display: grid;
	grid-template-columns: auto auto;
	grid-column: 1/4;
	grid-row: 6;
}

.implementation {
	grid-column: 1;
	grid-row: 5/6;
}

.applications {
	grid-column: 2;
	grid-row: 5/6;
}

div.paragraph {
	min-height: 4em; 
	 margin-top: 0.5em; margin-left: 0.5em; 
	 padding-top: 0.5em; padding-left: 0.8em; padding-right: 0.2em;
	 border-left: 0.1em solid black; border-top: 0.1em solid black;
	 -moz-hyphens: auto;
	 -webkit-hyphens: auto
}

div.main {
	border-width: 0.2em;
	border-left: 0.6em double black;
	font-size: 120%
}

div.section { border-width: 0.2em }

div.subsection {font-size: 85%} 

/* content */	
.author, .organization {
   font-family: Go Regular;
   font-style: italic;
   padding: 0.5em
}

h1, h2, h3, h4 { font-weight: bold; color: #258; line-height: 1.7;
				 -moz-hyphens: none; -webkit-hyphens: none }
h3 { margin-bottom: 0.3em; margin-top: 0.7em }
h2 { margin-bottom: 0.4em }
h2 > span { padding-bottom: 0.05em;
			padding-left: 0.1em; padding-right: 0.6em;
			border-bottom: 0.1em dotted #58c}
h1 { text-width: 100%; font-size: 173%; 
	 font-family: Go Regular, sans-serif; font-variant: small-caps;
	 text-align: center; }
h1 > .subtitle {font-size: 80%; line-height: 1.2}
h2 { font-size: 144%; text-align: left }
h3 { font-size: 109%; text-align: left }
h4 { font-size: 90%; font-style: italic; text-align: left}

p, table { margin-bottom: 0.4em; margin-top: 0.4em }
th { font-weight: bold }
td, th { padding: 0.05em 0.2em; text-align: center }
ol, ul	{ margin-bottom: 0.3em; margin-top: 0.3em; list-style-position: outside }
ul { list-style-type: square; margin-left: 0.5em }
ol { list-style-type: decimal }
ol ol { list-style-type: lower-latin }
li { margin-left: 1em; margin-bottom: 0.1em; margin-top: 0.1em }
ul.checklist { list-style-type: none }
ul.checklist > li:before { content: '□'; padding-right: 0.3em }

i { font-style: italic }
b { font-weight: bold }
tt { font-family: Go Mono, monospace}
em { background-color: #ffc; border-bottom: 1pt solid #dd0; padding: 0em 0.1em; }
strong { background-color: #fdd; border-bottom: 3pt double #e00; padding: 0em 0.1em; }
strike { text-decoration: line-through; color: #900 }

p.algorithm {
	font-family: Go Mono, monospace; font-size: 90%; white-space: pre;
}
kwd { text-transform: lowercase; font-weight: bold }
fun { font-variant: small-caps }
comment { font-style: italic; color: #66f }
comment::before { content: "	  \25b9\ " }
p.algorithm span.lineno { color: #bbb }

img.logo {height: 2em}
img.qrcode {height: 4em; float: right}

code {
	font-family: Go Mono, monospace;
	font-size: 80%;
	border: thin solid #666;
	margin: 0.5em;
}
.studies code {line-height: 1.1}
